<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848114514935-5qphb9ne7eaqm14af3h721k2m4aqg83m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848114514935-5qphb9ne7eaqm14af3h721k2m4aqg83m</string>
	<key>API_KEY</key>
	<string>AIzaSyDhd3iV0RZwFuqvmg9y5PUFBLBZs-pdI08</string>
	<key>GCM_SENDER_ID</key>
	<string>848114514935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-774d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-774d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848114514935:ios:a48a5318fd900f61028cf2</string>
</dict>
</plist>